<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/flights">View All flights</a>
        <a href="/flights/new">Add a new flight</a>
    </header>
    <table id="list">
        <thead>
            <tr>
                <th>Flights</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f) {%>
                <tr>
                    <td><%= f.airline %></td>
                </tr>
                <tr>
                    <td><%= f.flightNo %></td>
                </tr>
                <tr>
                    <td> <a href="/flights/<%= f._id %>">View Details</a></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>
</html>